<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBD" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:81/WCF__BD.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBD" contract="WCF.IBD"
        name="BasicHttpBinding_IBD" />
    </client>
  </system.serviceModel>

	<appSettings>

		<!--CARLOS DEPARTAMENTOS y FARMACIAS-->

		<add key="Listar_DEPARTAMENTOS" value="SCH_ADMIN.sp_listar_DEPARTAMENTOS"/>
		<add key="Filtrar_DEPARTAMENTOS" value="SCH_ADMIN.sp_filtrar_DEPARTAMENTOS"/>
		<add key="Insertar_DEPARTAMENTOS" value="SCH_ADMIN.sp_insertar_DEPARTAMENTOS"/>
		<add key="Modificar_DEPARTAMENTOS" value="SCH_ADMIN.sp_modificar_DEPARTAMENTOS"/>
		<add key="Eliminar_DEPARTAMENTOS" value="SCH_ADMIN.sp_eliminar_DEPARTAMENTOS"/>

		<add key="Listar_Farmacia" value="SCH_ADMIN.sp_listar_FARMACIAS"></add>
		<add key="Filtrar_Farmacia" value="SCH_ADMIN.sp_Filtrar_FARMACIAS"></add>
		<add key="Insertar_Farmacia" value="SCH_ADMIN.sp_Insertar_FARMACIAS"></add>
		<add key="Modificar_Farmacia" value="SCH_ADMIN.sp_Modificar_FARMACIAS"></add>
		<add key="Eliminar_Farmacia" value="SCH_ADMIN.sp_Eliminar_FARMACIAS"></add>

		<!--DIANA CCSS y CENTROS-->

		<add key="listar_CCSS" value="SCH_ADMIN.sp_Listar_CCSS"/>
		<add key="filtrar_CCSS" value="SCH_ADMIN.sp_Filtrar_CCSS"/>
		<add key="insertar_CCSS" value="SCH_ADMIN.sp_Insertar_CCSS"/>
		<add key="eliminar_CCSS" value="SCH_ADMIN.sp_Eliminar_CCSS"/>
		<add key="modificar_CCSS" value="SCH_ADMIN.sp_Modificar_CCSS"/>

		<add key="listar_CENTROS" value="SCH_ADMIN.sp_listar_CENTROS"/>
		<add key="Filtrar_CENTROS" value="SCH_ADMIN.sp_Filtrar_CENTROS"/>
		<add key="Insertar_CENTROS" value="SCH_ADMIN.sp_Insertar_CENTROS"/>
		<add key="Modificar_CENTROS" value="SCH_ADMIN.sp_Modificar_CENTROS"/>
		<add key="Eliminar_CENTRO" value="SCH_ADMIN.sp_Eliminar_CENTRO"/>

		<!--JORGE INCAPACIDADES e INVENTARIOS-->

		<add key="Listar_Incapacidades" value="SCH_ADMIN.sp_listar_Incapacidades"></add>
		<add key="Filtrar_Incapacidades" value="SCH_ADMIN.sp_filtrar_INCAPACIDADES"></add>
		<add key="Insertar_Incapacidades" value="SCH_ADMIN.sp_Insertar_INCAPACIDADES"></add>
		<add key="Modificar_Incapacidades" value="SCH_ADMIN.sp_Modificar_INCAPACIDADES"></add>
		<add key="Eliminar_Incapacidades" value="SCH_ADMIN.sp_Eliminar_INCAPACIDADES"></add>

		<add key="listar_Inventarios" value="SCH_ADMIN.sp_listar_INVENTARIOS"/>
		<add key="filtrar_Inventarios" value="SCH_ADMIN.sp_Filtrar_INVENTARIOS"/>
		<add key="insertar_Inventarios" value="SCH_ADMIN.sp_Insertar_INVENTARIOS"/>
		<add key="modificar_Inventarios" value="SCH_ADMIN.sp_Modificar_INVENTARIOS"/>
		<add key="eliminar_Inventarios" value="SCH_ADMIN.sp_Eliminar_INVENTARIOS"/>

		<!--JUAN DIEGO EMPLEADOS y ESPECIALIDADES-->

		<add key="listar_Empleados" value="SCH_MEDICO.sp_Listar_EMPLEADOS"/>
		<add key="filtrar_Empleados" value="SCH_MEDICO.sp_Filtrar_EMPLEADOS"/>
		<add key="insertar_Empleados" value="SCH_MEDICO.sp_Insertar_EMPLEADOS"/>
		<add key="eliminar_Empleados" value="SCH_MEDICO.sp_Eliminar_EMPLEADOS"/>
		<add key="modificar_Empleados" value="SCH_MEDICO.sp_Modificar_EMPLEADOS"/>

		<add key="listar_especialidades" value="SCH_MEDICO.sp_listar_ESPECIALIDADES"/>
		<add key="filtrar_especialidades" value="SCH_MEDICO.sp_Filtrar_ESPECIALIDADES"/>
		<add key="insertar_especialidades" value="SCH_MEDICO.sp_Insertar_ESPECIALIDADES"/>
		<add key="modificar_especialidades" value="SCH_MEDICO.sp_Modificar_ESPECIALIDADES"/>
		<add key="eliminar_especialidades" value="SCH_MEDICO.sp_Eliminar_ESPECIALIDADES"/>

		<!--BRANDON ASEGURADOS y CONTRATAS-->

		<add key="Listar_ASEGURADOS" value="SCH_MEDICO.sp_Listar_ASEGURADOS"/>
		<add key="Filtrar_ASEGURADOS" value="SCH_MEDICO.sp_Filtrar_ASEGURADOS"/>
		<add key="Insertar_ASEGURADOS" value="SCH_MEDICO.sp_Insertar_ASEGURADOS"/>
		<add key="Modificar_ASEGURADOS" value="SCH_MEDICO.sp_Modificar_ASEGURADOS"/>
		<add key="Eliminar_ASEGURADOS" value="SCH_MEDICO.sp_Eliminar_ASEGURADOS"/>


		<add key="listar_CONTRATAS" value="SCH_MEDICO.sp_listar_CONTRATAS"/>
		<add key="Filtrar_CONTRATAS" value="SCH_MEDICO.sp_Filtrar_CONTRATAS"/>
		<add key="Insertar_CONTRATAS" value="SCH_MEDICO.sp_Insertar_CONTRATAS"/>
		<add key="Modificar_CONTRATAS" value="SCH_MEDICO.sp_Modificar_CONTRATAS"/>
		<add key="Eliminar_CONTRATAS" value="SCH_MEDICO.sp_Eliminar_CONTRATAS"/>


		<!--ARIEL PEDIDOS y JUNTAS-->

		<add key="listar_Pedidos" value="SCH_ADMIN.sp_listar_PEDIDOS"/>
		<add key="filtrar_Pedidos" value="SCH_ADMIN.sp_Filtrar_PEDIDOS"/>
		<add key="insertar_Pedidos" value="SCH_ADMIN.sp_Insertar_PEDIDOS"/>
		<add key="modificar_Pedidos" value="SCH_ADMIN.sp_Modificar_PEDIDOS"/>
		<add key="eliminar_Pedidos" value="SCH_ADMIN.sp_Eliminar_PEDIDOS"/>

		<add key="listar_Juntas" value="SCH_ADMIN.sp_listar_JUNTAS"/>
		<add key="filtrar_Juntas" value="SCH_ADMIN.sp_Filtrar_JUNTAS"/>
		<add key="insertar_Juntas" value="SCH_ADMIN.sp_Insertar_JUNTAS"/>
		<add key="modificar_Juntas" value="SCH_ADMIN.sp_Modificar_JUNTAS"/>
		<add key="eliminar_Juntas" value="SCH_ADMIN.sp_Eliminar_JUNTAS"/>

	</appSettings>
	
</configuration>