body
{
    font-family:'Times New Roman', Times, serif;
    color:black;
}
h1 {
    text-align:center;
    font-size:3em;
}
h2 {
text-align:center;
font-size:2em;
}


.div_botones {
    margin: auto;
    border: 3px solid green;
    width: 80%;
    background-color: #E1EFEF;
    text-align: center;
    position: relative;
    background-color: lightblue;
    width: 700px;
    height: 400px;
}
.btn_General {
    background-color: lightseagreen;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    margin-right: 10px;
    margin-top:10px;
}

